---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";


// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;



// Import partials from `sass_dir` (defaults to `_sass`)
@import
  "base",
  "page-heading",
  "syntax-highlighting"
;
