ol {
  padding-left: 25px;
}
.callout {
  background-color: #F0F04E;
  display: inline-block;
}
pre {
  word-wrap: normal;

  code {
    white-space: pre;
  }
}
h2 {
  border-bottom: 1px solid #DBDBDB;
  padding-bottom: 5px;
  margin-top: 25px;
  padding-top: 10px;
}
h3 {
  font-size: 21px;
  margin-bottom: 15px;
}
.required::after {
  content: '*';
  color: red;
}
dd {
  margin-bottom: 5px;
}
.dt-em {
  font-weight: normal;
  padding-left: 10px;
  color: #666;
}
