<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="wrapper">

        <header>
          <div class='title'>
            <span>Ember</span>
            List View
          </div>
          <p class='lead'>
            A fast, mobile-friendly view for <br>
            large lists in Ember.js
          </p>
          <a href="#">Download</a>
        </header>

        <section>
          {{ content }}
        </section>

      </div>
    </div>

  </body>

  {% include scripts.html %}

</html>
