<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

  </body>

  {% include scripts.html %}

  {% raw %}
  <script type="text/x-handlebars" data-template-name="row_item">
      {{name}}
  </script>

  <script type="text/x-handlebars" data-template-name="index">
    {{!-- <h2>Virtual List View</h2>
    {{view App.ExtendedVirtualList content=content}} --}}
    <h2>List View</h2>
    {{#collection Ember.ListView content=controller height=500 rowHeight=50}}
      {{name}}
    {{/collection}}
  </script>
  {% endraw %}

</html>
