<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <nav class="Main-navbar navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mobile-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">ListView</a>
        </div>

        <div class="collapse navbar-collapse" id="mobile-menu">
          <ul class="nav navbar-nav">
            <li><a href="#requirements">Requirements</a></li>
            <li><a href="#installation">Installation</a></li>
            <li><a href="#usage">Usage</a></li>
            <li><a href="#development">Development</a></li>
            <li><a href="#faq">FAQ</a></li>
            <li><a href="#thanks">Thanks</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="page-content">
      <div class="wrapper">

        <header>
          <div class='title'>
            <span>Ember</span>
            List View
          </div>
          <p class='lead'>
            A fast, mobile-friendly view for <br>
            large lists in Ember.js
          </p>
          <a href="#">Download</a>
        </header>

        <section>
          {{ content }}
        </section>

      </div>
    </div>

  </body>

  {% include scripts.html %}

</html>
